/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    font-family: 'righteous', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

a {
    color: #ffcb9a;
    text-decoration: none;
}

a:visited {
    color: #05676e;
}

a:hover, a:focus, a:active {
    color: #489c79;
}
.profile__portrait {
  float: left;
  width: 300px;
  margin-right: 40px;
  border-radius: 50%;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* This will push your items to the extremes of the header */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Vertically align items in the center */
  width: 100%; /* Ensure the header content stretches across the page */
  padding: 20px;
  border-bottom: 1px solid rgb(221, 219, 219);
}


.logo {
  width: 200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navigation-list li {
  margin-right: 20px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

button {
    border: none;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(3, 9, 9, 0.3)
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid__item {
    
    background-color: lightgray;
    padding: 20px;
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 22px;
    }

    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .sun {
      -webkit-animation: 4s color-change infinite alternate linear;
              animation: 4s color-change infinite alternate linear;
    }

    @-webkit-keyframes color-change {
  0% {
      fill: #edc655;
      }
  50% {
        fill: #fcffad;
      }
  100% {
      fill: #f76414;
      }
    }

    @keyframes color-change {
  0% {
      fill: #edc655;
      }
  50% {
        fill: #fcffad;
      }
  100% {
      fill: #f76414;
      }
    }



  /*
  Colors used
  
  Text Color (White): #f6fbfa
  Primary Color (Blue):#116466 
  Secondary Color (Beige): #FFCB9A
  Secondary Color 2 (Black): #2C3531
  Secondary Color 3 (Light Blue): #D1E8E2
  */
}